name: Node Express GraphQL Template CI

on: push

jobs:
  build_and_test:
    name: Build & Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        uses: borales/actions-yarn@v2.0.0
        with:
          cmd: install
      - name: Lint
        uses: borales/actions-yarn@v2.0.0
        with:
          cmd: lint
      - name: Build
        uses: borales/actions-yarn@v2.0.0
        with:
          cmd: build
